.apply_section {
    padding: 0 20px;
}

.apply_section table {
    max-width: 1280px;
    margin: auto;
    margin-top: 80px;
    position: relative;
    box-shadow: 5px 10px 8px #a8a6a6;
}

.apply_section table tr th,
.apply_section table tr td {
    border-bottom: 1px solid #dddddd;
    width: 22%;
    /* padding: 15px; */
    text-align: center;
}

.apply_section table tr .action {
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 1px; */
    justify-content: space-around;
    align-items: center;
}

.apply_section table tr .action.post {
    justify-content: space-between;
}

.apply_section table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.apply_section table tr:nth-child(even) {
    background-color: #45c478;
    color: white;
}