.user-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 15px;
    background-color: #f0f0f0;
    padding: 30px;
    width: 450px;
    /* border: 1px solid; */
    border-radius: 20px 0 0px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* margin: auto; */
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    top: 100px;
}

::-webkit-input-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-moz-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:-ms-input-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::-ms-input-placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid #dad9d9;
    border-radius: 10px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 10px;
    margin-top: 11px;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.input {
    margin-left: 10px;
    border-radius: 0px 10px 10px 0px;
    /* border: 1px solid #dad9d9; */
    border: none;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid #2d79f3;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #198745;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.button-submit:hover {
    background-color: #166a37;

}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid #2d79f3;
    color: #ededef;
}

.form-select {
    border: none;
}

.form-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 101px;
    /* left: 450px; */
    width: 32%;
    height: 564px;
    background-color: #2b9f5a;
    color: #f0f0f0;
    border-radius: 0 20px 20px 0;
}

.register-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    top: 100px;
    /* left: 450px; */
    width: 32%;
    height: 1043px;
    background-color: #2b9f5a;
    color: #ffffff;
    border-radius: 20px 0px 0px 20px;
}

.section-content {
    text-align: center;
    color: #ffffff;
}

.section-btn {
    margin-top: 40px;
}

.section-btn,
.section-btn .btn-link {
    color: #ededef;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    text-decoration: none;
}

.section-btn .btn-link {
    /* border: 1px solid; */
    color: #198745;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 18px;
}

.r-arrow {
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 16px;
}

.section-btn .btn-link:hover .r-arrow {
    width: 20px;

}

.section-btn .btn-link:hover {
    /* color: #ffffff; */
    font-size: 19px;
    background-color: #dedede;
}

.form h1,
.form .button-submit {
    -webkit-animation: bounce2 1s;
    animation: bounce2 1s;
}

/* 
.form .email-input {
    animation: bounce 1s;

}

.form .pwd-input {
    animation: bounce 1.2s;
    -webkit-appearance: none;
}

*/
.form .flex-row {
    -webkit-animation: bounce 1.2s;
    animation: bounce 1.2s;
}

.section-content h1 {
    -webkit-animation: bounce2 1s;
    animation: bounce2 1s;
}

.section-content p {
    -webkit-animation: bounce 1s;
    animation: bounce 1s
}

.section-content .section-btn {
    -webkit-animation: bounce1 1s;
    animation: bounce1 1s
}

.uname-input {
    -webkit-animation: bounce 0.2s ease-out 0s 1 normal forwards;
    animation: bounce 0.2s ease-out 0s 1 normal forwards;
}

.email-input {
    -webkit-animation: bounce 0.5s ease-out 0s 1 normal forwards;
    animation: bounce 0.5s ease-out 0s 1 normal forwards;
}

.pwd-input {
    -webkit-animation: bounce 0.7s ease-out 0s 1 normal forwards;
    animation: bounce 0.7s ease-out 0s 1 normal forwards;
}

.role-input {
    -webkit-animation: bounce 0.8s ease-out 0s 1 normal forwards;
    animation: bounce 0.8s ease-out 0s 1 normal forwards;
}

.edu-input {
    -webkit-animation: bounce 0.9s ease-out 0s 1 normal forwards;
    animation: bounce 0.9s ease-out 0s 1 normal forwards;
}

.com-input {
    -webkit-animation: bounce 1s ease-out 0s 1 normal forwards;
    animation: bounce 1s ease-out 0s 1 normal forwards;
}

.con-input {
    -webkit-animation: bounce 1.1s ease-out 0s 1 normal forwards;
    animation: bounce 1.1s ease-out 0s 1 normal forwards;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-250px);
        transform: translateY(-250px);
        opacity: 0;
    }
}

@-webkit-keyframes bounce1 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(250px);
        transform: translateY(250px);

    }

    /* 40% {
    } */
}

@keyframes bounce1 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(250px);
        transform: translateY(250px);

    }

    /* 40% {
    } */
}

@-webkit-keyframes bounce2 {
    0% {
        opacity: 0;
    }

    70% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes bounce2 {
    0% {
        opacity: 0;
    }

    70% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@-webkit-keyframes bounce3 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }
}

@keyframes bounce3 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%)
    }
}

@-webkit-keyframes bounce4 {
    0% {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
        opacity: 0;
    }
}

@keyframes bounce4 {
    0% {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        -webkit-transform: translateX(250px);
        transform: translateX(250px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}