.job-cat {
    width: 55%;
    box-shadow: 5px 10px 8px #e4e4e4;
    margin-top: 240px;
}

.categorey-section .container img {
    mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
    /* -webkitmask-image: linear-gradient(#000, rgba(0, 0, 0, 1)); */
}