/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.home {}

.container {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-image: url('../assets/images/home_image.jpg');
    background-repeat: no-repeat;
    /* Options: repeat-x, repeat-y, no-repeat, repeat */
    background-size: cover;
    height: 650px;
    /* Options: auto, cover, contain */
    background-position: center -100px;
    position: relative;
    top: -97px;
    /* height: 100vh; */
}

.info {
    max-width: 50%;
    color: white;
    position: relative;
    top: 105px;
}

.home_img {
    height: 600px;
    vertical-align: middle;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 1;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0)));
    -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));
    mask-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(#000, rgba(0, 0, 0, 0));

}

.dark-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-control {
    height: 50px;
    font-size: 18px;
}

.info .btn-outline-success {
    color: white;
    /* font-size: 18px; */
    background-color: #198745;
    width: 8%;
    position: relative;
    /* right: 13px; */
    top: -11px;
    border: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.info .link .btn-outline-success:hover {
    background-color: rgb(15, 108, 165);
    border: none;
}

.info .btn-outline-success img {
    width: 20px;
}

.categorey {
    background: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 60%;
    padding: 30px;
    position: relative;
    top: -40px;
    padding-bottom: 0px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 10px 8px #e4e4e4;
    box-shadow: 5px 10px 8px #e4e4e4;

}

.categorey .cat_list {
    margin-bottom: 20px;
    margin-right: 40px;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    border-radius: 5px;
}

.cat_desc {
    opacity: 0.7;
}

.categorey .cat_list:hover {
    background-color: #f0f0f0;
    -webkit-box-shadow: 5px 10px 8px #e4e4e4;
    box-shadow: 5px 10px 8px #e4e4e4;
    color: #198745;
}

.categorey .cat_list .cat_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /* width: 100px; */
}

.section-list {
    background-color: #ffffff;
    border-radius: 5px;
    width: 60%;
    margin: auto;
    padding: 15px;
    -webkit-box-shadow: 5px 10px 8px #e4e4e4;
    box-shadow: 5px 10px 8px #e4e4e4;
}

.tab-menu {
    position: relative;
    list-style: none;
    right: 25px;
    /* top: -106px; */
    margin-left: auto;
}

.tab-menu .menu-item {
    border-radius: 5px 5px 0px 0px;
    padding: 8px;
    border-bottom: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.tab-menu .menu-item:hover {
    background-color: #198745;
}

.item-link {
    font-size: 14px;
    text-decoration: none;
    color: black;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.tab-menu .menu-item .item-link:hover {
    color: #ffffff;
}

/* Jobs */

.jobs {
    position: relative;
    top: -10px;
    /* width: 60%; */
    margin: auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}

.top-jobs {
    border: 1px solid #e8e8e8;
    height: 105px;
    position: relative;
    top: -27px;
    padding: 10px;
    margin-bottom: 10px;
}

.item-content {
    position: absolute;
    top: 8px;
    /* right: 640px; */
    left: 155px;
}

.apply-btn .app-link button {
    top: 20px;
    position: absolute;
    right: 15px;
    display: inline-block;
    margin: 15px;
    padding: 7px 40px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    cursor: pointer;
    -webkit-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    -webkit-box-shadow: inset 0 -100px 0 0 #198745;
    box-shadow: inset 0 -100px 0 0 #198745;
}

.apply-btn .app-link button:hover {
    color: black;
    background: transparent;
    -webkit-box-shadow: inset 0 0 0 0 #198745;
    box-shadow: inset 0 0 0 0 #198745;
    border: 2px solid #198745;
}

.apply-btn .app-link button:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.wraper {
    margin-right: 20px;
    opacity: 0.8;
}

.top-jobs {
    -webkit-animation: slideIn 0.5s ease-in-out forwards;
    animation: slideIn 0.5s ease-in-out forwards;
}

.items {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

.logo {
    -webkit-animation: bounce2 1s;
    animation: bounce2 1s;
    animation-direction: alternate;

}

.info h1 {
    -webkit-animation: bounce1 1s;
    animation: bounce1 1s;
    animation-direction: alternate;

}

.info p {
    -webkit-animation: bounce 1.2s;
    animation: bounce 1.2s;
}

.info .d-flex {
    -webkit-animation: bounce 1.4s;
    animation: bounce 1.4s
}

.categorey {
    -webkit-animation: bounce1 1.4s;
    animation: bounce1 1.4s;
    animation-direction: alternate;

}