body {
  margin: 0;
  font-family: "Lexend", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  position: relative;
  /* padding-bottom: 100px; */
  /* Adjust this value based on your footer height */
  min-height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.route-container {
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* Adjust this value based on your footer height */
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: #198745
}

.container.blur {
  position: absolute;
  background-position: center 40px;
  height: 85vh;
  filter: blur(3px);
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0))
}

select option {
  opacity: 0.8;
  color: green;
}